In [ ]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.

"""

A database is a structured collection of data organized for efficient retrieval, storage, and management. 
It provides mechanisms for defining, creating, querying, updating, and administering the data it holds. 
Databases are crucial in many applications ranging from websites and mobile apps to large-scale enterprise systems for managing and 
processing data.

"""
"""
SQL Databases (Relational Databases):

->SQL (Structured Query Language) databases, also known as relational databases, 
organize data into tables with predefined schemas. Each table consists of rows (records) and columns (fields).

->Data relationships are established using foreign keys to link related tables.

->SQL databases are ideal for applications that require complex querying, transactions, and strong consistency guarantees.

->Examples of SQL databases include MySQL, PostgreSQL, Oracle Database, SQL Server, etc.

"""
"""
NoSQL Databases (Non-Relational Databases):

->NoSQL databases are designed to handle large sets of distributed data and provide more flexibility than traditional SQL databases.

->NoSQL databases do not use tables, rows, and columns for data storage. Instead, they use various data models such as document-oriented, 
key-value pairs, graph-based, or column-oriented.

->NoSQL databases are suitable for scenarios that demand scalability, high availability, and flexibility with unstructured or 
semi-structured data.

->Examples of NoSQL databases include MongoDB (document store), Redis (key-value store), Cassandra (wide-column store), 
    Neo4j (graph database), etc.

"""

In [ ]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

"""

DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and 
manage the structure of database objects. DDL statements are used to create, modify, and delete database objects such as tables, indexes, 
views, and schemas.

"""
"""

1) CREATE:

The CREATE statement is used to create new database objects like tables, indexes, views, or schemas.

Eg:

CREATE TABLE employees (
    emp_id INT PRIMARY KEY,
    emp_name VARCHAR(100),
    emp_salary DECIMAL(10, 2)
);

"""
"""
2) Drop:
The DROP statement is used to delete existing database objects.

Eg:

DROP TABLE customers;

"""
"""

3) ALTER:

The ALTER statement is used to modify the structure of existing database objects like tables.

Eg:

ALTER TABLE employees
ADD emp_department VARCHAR(50);

"""
"""

4)TRUNCATE:

The TRUNCATE statement is used to remove all rows from a table while keeping the table structure intact.

Eg:

TRUNCATE TABLE orders;

"""

In [ ]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

"""
DML stands for Data Manipulation Language, 
which is a subset of SQL (Structured Query Language) used to manipulate data stored in the database. 
DML statements are used to insert, update, delete, and retrieve data from database tables. 
These statements are crucial for interacting with and modifying the content of the database.
"""
"""
1) INSERT:
The INSERT statement is used to add new rows of data into a table.

Eg:

INSERT INTO employees (emp_id, emp_name, emp_salary)
VALUES (1, 'John Doe', 50000);
"""
"""
2) UPDATE:
The UPDATE statement is used to modify existing data in a table.

Eg:

UPDATE employees
SET emp_salary = 55000
WHERE emp_id = 1;

"""
"""
3) DELETE:
The DELETE statement is used to remove one or more rows from a table.

Eg:

DELETE FROM employees
WHERE emp_id = 1;

"""

In [ ]:
#Q4. What is DQL? Explain SELECT with an example.

"""
DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from databases. 
DQL specifically focuses on the SELECT statement, which is used to query and fetch data from one or more tables in a database.
"""
"""
SELECT Statement:
The SELECT statement is used to retrieve data from one or more tables in a database. 
It allows you to specify which columns to retrieve, which rows to include based on specified conditions, and how to order the results.

Eg:
SELECT * FROM employees;
"""

In [ ]:
#Q5. Explain Primary Key and Foreign Key.
"""
Primary Key:
A primary key is a column in a relational database table that uniquely identifies each record (row) in the table. 
The primary key must contain unique values and cannot have NULL values. 
It enforces entity integrity by ensuring that no duplicate or null values exist within the primary key column(s).
"""
"""
Foreign Key:
A foreign key is a column in a table that establishes a relationship with another table by referencing the primary key or 
a unique key of that other table. It enforces referential integrity by ensuring that values in the foreign key column(s) correspond 
to valid values in the referenced primary key or unique key column(s) of the related table.
"""

In [ ]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

#importing library
import mysql.connector

# Establishing a connection to the MySQL database
try:
    connection = mysql.connector.connect(
        host="localhost",
        user="username",
        password="password",
        database="database"
    )

    # Check if the connection is successful
    if connection.is_connected():
        print("Connected to MySQL database")

        # Creating a cursor object using cursor() method
        cursor = connection.cursor()

        # Executing a SQL query using execute() method
        cursor.execute("SELECT * FROM employees")

        # Fetching and printing the result using fetchall() method
        rows = cursor.fetchall()
        for row in rows:
            print(row)

except mysql.connector.Error as error:
    print("Error connecting to MySQL database:", error)

finally:
    # Closing the database connection
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

In [ ]:
#Q7. Give the order of execution of SQL clauses in an SQL query.